<header>
  <div id="header">
    <div class="ngx-emoj">
        <div class="span">
          ngx-emoj
        </div>

    </div>

    <div class="emoj-pane">
      <span>
        {{ text }}
      </span>

    </div>

    <div class="links">
      <div class="span">

          <span>
              <a class="github-button" href="https://github.com/ahkohd/ngx-emoj" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star ahkohd/ngx-emoj on GitHub">Star</a>
          </span>
          <span>
              <a class="github-button" href="https://github.com/ahkohd/ngx-emoj/archive/master.zip" data-size="large" aria-label="Download ahkohd/ngx-emoj on GitHub">Download</a>
          </span>

          </div>
  </div>
  </div>
</header>
